$white: #f5f5f5;
$black: #161616;
$red: rgba(217, 60, 78, 1);
// SPACING
$xxxs-size: 0.2rem;
$xxs-size: 0.5rem;
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.4rem;
$xxxl-size: 8rem;
$huge-size: 10rem;
// LAYOUT
$desktop-breakpoint: 1200px;
$navigation-height: 255px;
$navigation-height-mobile: 70px;
$footer-height: $xxl-size;
// FONT SIZES
$font-sm: 0.875rem;
$font-med: 18px;
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
